.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
}

.item {
  background-color: white;
  padding: 10px;
  border: 1px solid #afaaaa;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* .list {
  display: flex;
  align-items: baseline;
  list-style: none;
  padding: 0;
}

.item {
  margin-bottom: 10px;
} */
